<div class="container py-5 d-flex justify-content-center">

  <div class="row">
    <div class="col-10 col-lg-10 col-xl-8 mx-auto mt-6" style="width: 450px">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title d-flex justify-content-center">Account Login<i class="fa-sharp fa-solid fa-house"></i>
          </h4>
          <hr>
          <form action="/login" method="POST" id="form" novalidate>
            <div class="col-12">
              <label for="email" class="form-label"></label>
              <input type="text" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="col-12">
              <label for="password" class="form-label"></label>
              <input type="password" class="form-control" id="password" placeholder="Password" inputmode="numeric">
            </div>
            <div class="new-btn-location d-flex justify-content-center">
              <button class="btn btn-outline-dark mt-3" type="submit" id="submit-button">Sign in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>